.description-card {
  padding: 3.5rem;
  margin: 3rem;
  background-color: #f8eecb;
  color: #982121;
  border-radius: 15rem 5rem;
  box-shadow: 12px 12px 2px 1px #982121;
  border: solid 3px #982121;
}
