/* navlink component in react=route-dom still renders an a element */
li a {
    background-color: #f8eecb;
    color: #D23D2D;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1.5rem;
    border-radius: 25% 10%;
    box-shadow: 12px 12px 2px 1px #982121;
}

li a:hover {
    background-color: #D23D2D;
    font-style: italic;
    color: white;
}

.nav-item {
    margin: 3rem;
}

ul {
    font-family: "Almarai";
    justify-content: center;
}